html {
    font-family: 'Urbanist', sans-serif;
}
body {
    margin: 0;
}
.head_section {

}
.container {
    padding:  2% 10% 2% 10%;
}

.picture {
    text-align: center;
}
.picture img {
    width: 200px;
    min-width: 100px;
    height: auto;
    border-radius: 100%;
}
.heading {
    text-align: center;
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}


.skills_section {
    padding:  2% 10% 2% 10%;
}


.topic  {
    text-align: center;
    font-size: larger;
}

.skills_container {
    width: 50%;
    border-radius: 10px;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.c_plus_plus {width: 99%; background-color: #2196F3; border-radius: 10px;} /* Blue */
.html {width: 99%; background-color: #04AA6D; border-radius: 10px;} /* Green */
.js {width: 50%; background-color: #f44336; border-radius: 10px;} /* Red */
.css {width: 99%; background-color: #808080; border-radius: 10px;} /* Dark Grey */
.python {width: 99%; background-color: #808080; border-radius: 10px;} 
.java {width: 65%; background-color: #808080; border-radius: 10px;} 

.about_section {
    padding:  2% 10% 2% 10%;
}
.about_details {

}

.contact_me {
    padding:  2% 10% 5% 10%;
    text-align: center;
}

.contact_lbl {
    text-align: center;
    font-size: larger;
}
.contact_icons {
    width: 50%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact_icons a {
    text-decoration: none;
}
.contact_icons a:hover  {
    font-size: larger;
    transition: font-size 1s;
}

footer {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1%;
}
